<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= test %> for <%= author %></title>
  <link rel="stylesheet" href="./static/css/App.css">
</head>
<body style="text-align: center;">
  <div className="App">
    <header className="App-header">
      <img src="./static/logo192.png" className="App-logo" alt="logo" />
    </header>
  </div>
  The best open source software in the world<br/>
</body>
</html>