<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="./static/css/App.css">
</head>
<body style="text-align: center;">
  <div className="App">
    <header className="App-header">
      <img src="./static/logo192.png" className="App-logo" alt="logo" />
    </header>
  </div>
  <%= test %> for <%= author %><br/>
  
</body>
<script src="./static/js/index.js"></script>
<script src="./static/js/jquery-1.8.3.min.js"></script>
<script>
  $.ajax({
		url: "http://localhost:3000/user",
		data:{account:"ph"},
		type: "GET",
		dataType: "json",
		headers: {//authorization：现为降低带宽，直接带上token即可，且用单字母a来表示
      a:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50Ijoienp3d2dnIiwiaWF0IjoxNjAwMjY3MzM3LCJleHAiOjE2MDAyNzQ1Mzd9.gWLqYurBSZWDR8Coz7Iir5eO46uY93NklwIvAWUxsUc",
      s:"i1kd02i0" //现在秘密可以支持分布式服务器，尽管sercet可能不同
		},
		async: false,
		cache: false,
		success: function(data) {
      console.log(data);
      
		},
		error: function(data) {
			console.log(data.responseText,data);
		}
	});
</script>
</html>