<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="./static/css/App.css">
</head>
<body style="text-align: center;">
  <div className="App">
    <header className="App-header">
      <img src="./static/logo192.png" className="App-logo" alt="logo" />
    </header>
  </div>
  <%= test %> for <%= author %><br/>
  <input id="token" placeholder="token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50IjoiYXNjaXBoeCIsImlhdCI6MTYwMDMwOTI1MywiZXhwIjoxNjAwMzQ1MjUzfQ.UrfgJfaw4ohmaKN8Oir-qLuNZwYeZU0t_OTeJbezJX8"/>
  <input id="secret" placeholder="secret" value="981fm5lo#acd"/>

  <button id="ajax" onclick="ajax()">ajax跳转到静态页</button>
</body>
<script src="./static/js/jquery.min.js"></script>
<script>//模拟演示ajax请求获得静态页面.
  function ajax(){
    $.ajax({
      url: "http://localhost:3000/admin/index.html",
      type: "GET",
      dataType: "html",
      headers: {//authorization：现为降低带宽，直接带上token即可，且用单字母a来表示
        a: document.getElementById("token").value,
        s: document.getElementById("secret").value //现在秘密可以支持分布式服务器，尽管sercet可能不同
      },
      async: false,
      success: function(data) {
        if(document.documentMode >9|| document.documentMode == undefined){
          var a=document.createElement("html");a.innerHTML=data.replace(/(<!|<)\w* ?html>\n?/g,"")
          document.documentElement.parentNode.replaceChild(a,document.documentElement)
        }else{
          data=data.replace(/\n?(<!|<)\w* ?html ?(lang="en")?>|<\/html>/g,"")
          document.body.innerHTML=data.replace(/.*(?=)+<body/g,"<body")
          // document.head.innerText=data.replace(/\<head\>((\n.*)+)\<\/head\>/g,"$1")
          // document.head在ie<10版本会是只读,所以若兼容ie10以下的版本，head尽量保持一致
        }
      },
      error: function(data) {
        document.getElementById("ajax").innerText=data.statusText
        // console.log(data);
      }
    });
  }
</script>
</html>